<%= javascript_pack_tag 'scripts/time_experiments_script.js', defer: true %>
<!--コンテンツ部分-->
<div id="contents">
    <h1>実験ページ：Time/experiments</h1>
    <%= link_to "Topに戻る", root_path %>
    <h2>現在日時</h2>
    <p id="date"></p>
    
    
    <h2>現在時刻</h2>
    <p id="clock"></p>
    
    <button id="start_btn" class="btn">Start</button>
    <textarea id="size_input"></textarea>
    
    <div id='area'>
        <p id="signage"></p>
    </div>
    
    
</div>