<%= javascript_pack_tag 'scripts/time_script.js', defer: true %>
<!--コンテンツ部分-->
<div id="contents">
    <h1>実験ページ：Time/index</h1>
    <%= link_to "Topに戻る", root_path %>
    <h2>現在日時</h2>
    <p id="date"></p>
    
    
    <h2>現在時刻</h2>
    <p id="clock"></p>
    
    <div id="c_clocks">
        <!--円（時）-->
        <div class="clock">
            <svg class="circle" viewBox="0 0 100 100">
                <circle id="c_hours" class="" cx="50%" cy="50%" r="35"></circle>
            </svg>
            <p class="info">hour</p>
        </div>
        
        <!--円（分）-->
        <div class="clock">
            <svg class="circle" viewBox="0 0 100 100">
                <circle id="c_minutes" cx="50%" cy="50%" r="35"></circle>
            </svg>
            <p class="info">minute</p>
        </div>
        
        <!--円（秒）-->
        <div class="clock">
            <svg class="circle" viewBox="0 0 100 100">
                <circle id="c_seconds" cx="50%" cy="50%" r="35"></circle>
            </svg>
            <p class="info">second</p>
        </div>
    </div>
    
    <div id="analogue_clocks" class="clock">
        <!--アナログ-->
        <div id="analogue_hour">
            <div id="a_hours"></div>
            <div id="a_minutes"></div>
            <div id="a_seconds"></div>
        </div>
    </div>
    <p class="info">Analogue</p>
    
</div>