<%= javascript_pack_tag 'scripts/time_script.js', defer: true %>
<!--コンテンツ部分-->
<div id="contents">
    <h1>実験ページ：Time/index</h1>
    <%= link_to "Topに戻る", root_path %>
    <h2>現在日時</h2>
    <p id="date"></p>
    
    
    <h2>現在時刻</h2>
    <p id="clock"></p>
    
    <div id="c_clocks">
        <!--円（時）-->
        <div id="c_hour" class="clock">
            <svg class="circle" viewBox="0 0 100 100">
                <circle id="hours" cx="50%" cy="50%" r="35"></circle>
            </svg>
            <p class="info">hour</p>
        </div>
        
        <!--円（分）-->
        <div id="c_minutes" class="clock">
            <svg class="circle" viewBox="0 0 100 100">
                <circle id="minutes" cx="50%" cy="50%" r="35"></circle>
            </svg>
            <p class="info">minute</p>
        </div>
        
        <!--円（秒）-->
        <div id="c_seconds" class="clock">
            <svg class="circle" viewBox="0 0 100 100">
                <circle id="seconds" cx="50%" cy="50%" r="35"></circle>
            </svg>
            <p class="info">second</p>
        </div>
    </div>
    
</div>