<%= javascript_pack_tag 'scripts/time_script.js', defer: true %>
<!--コンテンツ部分-->
<div id="contents">
    <h1>実験ページ：Time/index</h1>
    <%= link_to "Topに戻る", root_path %>
    
    <h2>現在時刻</h2>
    <p id="clock"></p>
    
</div>