<%= javascript_pack_tag 'scripts/stopwatch_script.js', defer: true %>
<!--コンテンツ部分-->
<div id="contents">
    <h1>実験ページ：Time/stopwatch</h1>
    <%= link_to "Topに戻る", root_path %>
    <h2>現在日時</h2>
    <p id="date"></p>
    
    
    <h2>現在時刻</h2>
    <p id="clock"></p>
    
    <div>
        <h2>ストップウォッチ</h2>
        <p id="show_time">00:00.000</p>
        <button id="s_btn">スタート・ストップ</button>
        <button id="r_btn" disabled>リセット</button>
    </div>
    
    
    <div>
        <h2>タイマー</h2>
        <input　type="time" id="timer2">00:00.000
        <button id="s_btn2">スタート・ストップ</button>
        <button id="r_btn2" disabled>リセット</button>
    </div>
    
</div>