<%= javascript_pack_tag 'scripts/stopwatch_script.js', defer: true %>
<!--コンテンツ部分-->
<div id="contents">
    <h1>実験ページ：Time/stopwatch</h1>
    <%= link_to "Topに戻る", root_path %>
    <h2>現在日時</h2>
    <p id="date"></p>
    
    
    <h2>現在時刻</h2>
    <p id="clock"></p>
    
    <div id="s_w">
        <h2>ストップウォッチ</h2>
        <p id="show_time">00:00.000</p>
        <button id="s_btn">スタート・ストップ</button>
        <button id="r_btn" disabled>リセット</button>
    </div>
    
    
    <div id="tm">
        <h2>タイマー</h2>
        <!--stepは最小単位、valueは初期値-->
        <div id="t_input">
            <input type="number" id="i_minutes" max="59" min="0" step="1" value="00">
            <p>:</p>
            <input type="number" id="i_seconds" max="59" min="0" step="1" value="00">
        </div>
        
        <div id="t_display">
            <p id="t_minutes">00</p><p>:</p><p id="t_seconds">00</p>
        </div>
        <p id="t_info"></p>
        <button id="set_btn">セット</button>
        <button id="s_btn2">スタート・ストップ</button>
        <button id="r_btn2" disabled>リセット</button>
    </div>
    
</div>