<%= javascript_pack_tag 'scripts/s_anime_script.js', defer: true %>
<!--コンテンツ部分-->
<div id="contents">
    <h1>実験ページ：スクロールアニメーション</h1>
    <%= link_to "Topに戻る", root_path %>
    <div id="s_contents">
        <p class="scroll_info">下にスクロール</p>
        
        <div class="space"></div>
        
        <img src="/assets/sample-A.jpg" class="sa_image1">
        
        <div class="space"></div>
        
        <img src="/assets/sample-B.jpg" class="sa_image2">
        
        <div class="space"></div>
        
        <img src="/assets/sample-C.jpg" class="sa_image3">
    </div>
</div>
