<!--ローディング画面-->
<div id="loading_image">
    <h1 class="l_title">Now loading...</h1>
    <div id="l_bar"></div>
</div>


<!--コンテンツ部分-->
<div id="contents" class="hide">
    <h1>実験ページ：トップ</h1>
    
    
    
</div>

<!--jsは最後に読み込まないとエラー-->
<%= javascript_pack_tag 'scripts/top_script.js' %>