<%= javascript_pack_tag 'scripts/top_script.js', defer: true %>
<!--ローディング画面-->
<div id="loading_image_top">
    <h1 class="l_title">Now loading...</h1>
    <div id="l_bar"></div>
</div>


<!--コンテンツ部分-->
<div id="contents" class="hide_top">
    <h1>実験ページ：トップ</h1>
    
    <div>
        <%= link_to black_jack_path do %>
            <div>"ブラックジャックはこちら"</div>
        <% end %>
        <%= link_to scroll_anime_path do %>
            <div>"スクロールアニメーションはこちら"</div>
        <% end %>
    </div>
    
</div>


