// Place all the styles related to the times controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#contents{
    text-align: center;
}

#date{
    font-size: 60px;
}

#clock{
    font-size: 60px;
}

.clock{
    width: 250px;
    height: 250px;
}

#c_clocks{
    display: flex;
    justify-content: space-evenly;
}

.circle, .analogue {
    transform: rotate(-90deg);
}

.circle circle{
    fill: none;
    stroke-width: 15px;
    stroke-dashoffset: 0;
}

.info{
    font-size: 40px;
}


// アナログ時計

#analogue_hour div{
    transform-origin: center 100%;
}

#a_hours{
    width: 8%;
    height: 40%;
}

#a_minutes{
    width: 5%;
    height: 90%;
}

#a_seconds{
    width: 3%;
    height: 90%;
}
