// Place all the styles related to the times controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#contents{
    text-align: center;
}

#date{
    font-size: 80px;
}

#clock{
    font-size: 50px;
}

.clock{
    width: 250px;
    height: 250px;
}

#c_clocks{
    display: flex;
    justify-content: space-evenly;
}

.circle {
    transform: rotate(-90deg);
}

.circle circle{
    fill: none;
    stroke-width: 15px;
    stroke-dashoffset: 0;
}