// Place all the styles related to the times controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#contents{
    text-align: center;
}

#date{
    font-size: 60px;
}

#clock{
    font-size: 60px;
}

.clock{
    width: 250px;
    height: 250px;
}

#c_clocks{
    display: flex;
    justify-content: space-evenly;
    height: 300px;
}

.circle, .analogue {
    transform: rotate(-90deg);
}

.circle circle{
    fill: none;
    stroke-width: 15px;
    stroke-dashoffset: 0;
}

.info{
    font-size: 40px;
}




// アナログ時計
#analogue_clocks{
    margin: 0 auto;
}

#analogue_hour{
    width: 50%;
    height: 50%;
    position: relative;
    // 辺が基準だから半分の半分
    // 中身（子要素）の針を中心で考える
    top: 25%;
    left: 25%;
}

#analogue_hour div{
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom center;
}

#a_hours{
    width: 8%;
    height: 60%;
}

#a_minutes{
    width: 5%;
    height: 85%;
}

#a_seconds{
    width: 3%;
    height: 85%;
}


// 以下experimentsページ
.form{
    display: block;
    margin: 10px auto;
}

#area{
    width: 80%;
    height: 200px;
    border: solid 2px black;
    margin: 20px auto;
    // 子要素を枠内で表示
    overflow: hidden;
}

.r_border{
    border: solid 4px red;
}